{% extends 'base/base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block page_content %}
    <div class="reg-container">
        <h1>New product</h1>
        <form action="{% url 'add product' %}" method="POST" enctype="multipart/form-data">
            {{ form.name|as_crispy_field }}
            {{ form.brand|as_crispy_field }}
            {{ form.category|as_crispy_field }}
            {{ form.quantity|as_crispy_field }}
            {{ form.description|as_crispy_field }}
            {{ form.image|as_crispy_field }}
            {{ form.price|as_crispy_field }}
            {% csrf_token %}
            <button type="submit" class="btn btn-primary register-button">Add product</button>
        </form>
    </div>
{% endblock %}
