<div class="modal fade terms-of-use" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="delete-profile" style="">
                    <div style="text-align: left">
                        Terms and conditions for every participant in the electronic trade platform
                        www.sports-world.onrender.com

                        <h5><b>I.OBJECT</b></h5>

                        <p>1.These General Terms and Conditions are intended for the regulation of the relations between
                            VGN LTD, Zahari Zograf 77 Blvd. bl. 60a, office 3, Burgas 1404, 202200279 referred below as
                            PROVIDER, and the customers, referred below as USERS, on the platform for e-commerce
                            "sports-world.onrender.com", referred below as "Sports-World".</p>

                        <h5><b>II. DETAILS OF PLATFORM SUPPLIER</b></h5>
                        <p>2. Information under the Electronic Commerce Act and the Consumer Protection Act: <br>
                            1. Name of Supplier: VGN LTD <br>
                            2. Seat and address of management: Zahari Zograf 77 Blvd. bl. 60a, office 3, Burgas 1404
                            <br>
                            3. Address for the activity and address for consumer complaints: Burgas 1303, Ul. Ivan
                            Ivanov 70B, floor 3, apt. 10 <br>
                            4. Correspondence data: Bulgaria, Burgas 1303, Ul. Ivan Ivanov 70B, floor 3, apt. 10 Email:
                            info@Sports-World.com <br>
                            5. Entry in public registers: UIC BG202410279 Number of certificate for data controller: №
                            422591 <br>
                            6. Supervisory authorities:
                            (1) Personal Data Protection Commission
                            Address: city of Burgas, "Ivan Evstatiev Geshov" № 15,
                            Tel. (02) 940 20 46
                            fax: (02) 940 36 40
                            Email: kzld@government.bg, kzld@cpdp.bg
                            Web site: www.cpdp.bg

                            (2) Commission for Consumer Protection
                            Address: 1000 Burgas, 4A Slaveikov Sq., 3rd, 4th and 6th floor,
                            tel .: 02/980 25 24
                            fax: 02/988 42 18
                            hotline: 0700 111 22
                            Web site: www.kzp.bg

                            (3) Commission for Protection of Competition
                            Bulgaria
                            Burgas 1000, 18, Vitosha Blvd.
                            Phone: (02) 935 61 13
                            Fax: (02) 980 73 15
                            Web site: www.cpc.bg
                        </p>

                        <h5><b>III. PLATFORM CHARACTERISTICS</b></h5>

                        <p>3. Sports-World is an e-commerce platform available on the Internet at
                            https://sports-world.onrender.com/, through
                            which Users have the ability to enter into contracts for the purchase and sale of
                            merchandise
                            offered by merchants in the platform, including the following:<br>
                            1. To register and create an account for reviewing the Sports-World Online Supplier's store
                            and using
                            the additional information services;<br>
                            2. Review the goods, their characteristics, prices and delivery terms;<br>
                            3. Conclude contracts for the purchase and sale of the goods offered by the Supplier through
                            the
                            Sports-World platform;<br>
                            4. Make any payments in connection with Contracts concluded with the Provider, in accordance
                            with the electronic payment instruments supported by the Sports-World platform.<br>
                            5. Receive information about new products offered by the Provider on the Sports-World
                            platform;<br>
                            6. To make electronic statements regarding the conclusion or performance of contracts with
                            Sports-World participants through the Sports-World page interface available on the Internet;<br>
                            7. To be notified of the rights deriving from the law, primarily through the interface of
                            the
                            Sports-World platform on the Internet;<br>
                            8. Exercise the right of withdrawal, where applicable, under the Consumer Protection
                            Act.<br>
                            4. Sports-World provides the delivery of the goods and guarantees the rights of the Users
                            provided by
                            the law within the framework of good faith, the criteria and conditions adopted in the
                            practice,
                            consumer or commercial law.<br>
                            5. (1) The Beneficiaries shall conclude a contract for the purchase and sale of the goods at
                            the
                            Sports-World platform at https://sports-world.onrender.com/. The contract is concluded in
                            Bulgarian and
                            stored in the supplier's database in the platform.<br>
                            (2) By the power of this contract concluded with the Users, the Sports-World SELLER shall be
                            obliged
                            to organize the delivery and transfer of the User's ownership to the goods assigned by the
                            User
                            via the interface in the platform. Users have the right to correct mistakes in entering
                            information no later than making the Sports-World Platform's Contract Statement.<br>
                            (3) Beneficiaries shall pay the Sports-World supplier a fee for the goods delivered under
                            the terms
                            and conditions set out in the Sports-World Platform and these General Terms and Conditions.
                            The
                            payment is in the amount of the price announced by the Sports-World Platform at the address
                            of the
                            Sports-World platform on the Internet.<br>
                            (4) The Sports-World Platform shall select the person who will deliver the goods claimed by
                            the Users
                            within the terms and conditions set forth in the Sports-World Platform and in accordance
                            with these
                            General Terms and Conditions.<br>
                            6. (1) The User and the Provider in the Sports-World Platform agree that all statements
                            between them
                            in connection with the conclusion and execution of the Purchase Contract may be made by
                            electronic and electronic statements within the meaning of the Electronic Document and the
                            Electronic signature and point 11 of the Electronic Commerce Act.<br>
                            (2) It is assumed that the electronic statements made by the Users of the site are made by
                            the
                            persons mentioned in the data provided by the User in making a registration if the User has
                            entered the respective name and password for access.
                        </p>

                        <h5><b>IV. REGISTRATION FOR USE OF Sports-World</b></h5>

                        <p>Art. 7. (1) In order to use Sports-World to conclude contracts for the purchase and sale of
                            goods, the
                            User shall enter a name and password for remote access chosen by him / her.<br>
                            (2) The name and password for remote access shall be determined by the User by making an
                            online
                            registration on the Sports-World Platform's website, in accordance with the procedure
                            specified
                            therein.<br>
                            (3) By filling out your details and pressing the Compliance buttons with these General Terms
                            and
                            Conditions, the User declares that he / she is familiar with these terms and conditions,
                            agrees
                            with their content and undertakes to comply unconditionally with them.<br>
                            (4) The supplier of the Sports-World platform shall confirm the registration made by the
                            User by
                            sending a letter to an e-mail address indicated by the User. An Account of the User is
                            created
                            and between him and the Provider in the Sports-World platform a contractual relationship
                            arises.<br>
                            (5) When making the registration, the User undertakes to provide correct and up-to-date
                            data.
                            The user is obliged to update the data specified in his / her registration in a timely
                            manner.<br>
                            (6) In the platform of Sports-World.onrender.com, an automated script is not allowed to
                            perform any actions on
                            the site - as well as in the commercial part of the site, as well as in the social one.
                        </p>

                        <h5><b>V. TECHNICAL STEPS TO CONCLUDE A PURCHASE CONTRACT</b></h5>

                        <p>8. Beneficiaries primarily use the interface of the Sports-World Platform's supplier's
                            website to
                            enter into contracts for the purchase and sale of the goods offered by the Supplier in the
                            Sports-World platform.<br>
                            9. Users conclude the contract for the purchase and sale of the goods with the Supplier in
                            the
                            Sports-World platform in the following procedure:<br>
                            (1) Make a registration on the Sports-World platform and provide the necessary data if the
                            User has
                            not been registered in the Sports-World platform so far.<br>
                            (2) Entering the ordering system on the Sports-World platform by identifying by name and
                            password;<br>
                            (3) Select one or more of the goods offered by the suppliers in the Sports-World platform
                            and add them
                            to a purchase order list.<br>
                            (4) Selection of goods from the list of goods for the purchase of the relevant suppliers in
                            the
                            Sports-World platform, for which a purchase contract is to be concluded.<br>
                            (5) Providing data for delivery;<br>
                            (6) Choice of method and time for payment of the price.<br>
                            (7) Confirmation of the order;<br>
                        </p>

                        <h5><b>VI. CONTENT OF THE CONTRACT</b></h5>

                        <p>10. (1) The supplier of the Sports-World platform and the Users shall conclude individual
                            contracts
                            for the purchase and sale of the goods requested by the Users, regardless of the fact that
                            they
                            have been elected with an electronic statement and a list of goods for purchase.<br>
                            (2) The supplier of the Sports-World platform may organize together and simultaneously the
                            delivery of
                            the goods ordered by the individual purchase contracts. The delivery of the goods ordered by
                            the
                            Users shall be effected by the Sports-World chosen by the Sports-World supplier of the
                            respective goods for
                            which the User is notified at the time of delivery.<br>
                            (3) The rights of the Users in connection with the supplied goods shall be exercised
                            separately
                            for each purchase contract. The exercise of rights in relation to a delivered good does not
                            affect and has no effect on the contracts for the purchase and sale of the other goods. In
                            case
                            the User has the quality of a user within the meaning of the Consumer Protection Act, the
                            exercise of the right of withdrawal from the purchase contract of a particular good shall
                            not
                            affect the contracts for the purchase of the other goods delivered to the consumer.<br>
                            11. In exercising the rights under the contract of sale, the User is obligated to indicate
                            precisely and unambiguously the contract and the goods in respect of which the rights are
                            exercised.<br>
                            12. The user may pay the price for individual purchase contracts at once when the goods are
                            delivered or when they are delivered.
                        </p>

                        <h5><b>VII. SPECIAL CLAUSES APPLYING TO PERSONS WHO HAVE A QUALITY CONSUMER UNDER THE LAW OF
                            CONSUMER
                            PROTECTION</b></h5>

                        <p>13. (1) The provisions of this Section VII of these General Terms and Conditions shall apply
                            only to Users for whom, according to the data specified for the conclusion of the purchase
                            contract or upon registration in Sports-World, it can be concluded that they are users of
                            the meaning
                            of the Consumer Protection Act, the Electronic Commerce Act and / or Directive 97/7 / EC of
                            the
                            European Parliament and of the Council of 20 May 1997 on the protection of consumers in
                            respect
                            of distance contracts.<br>
                            (2) The supplier of Sports-World does not offer, organize or deliver medical prescription
                            drugs to
                            persons who have the quality of a user under point 1;<br>
                            14. (1) The basic features of the goods offered by the Supplier in the Sports-World platform
                            are
                            defined in the profile of each item in the Sports-World platform.<br>
                            (2) The price of the goods including all taxes and charges is determined by the Sports-World
                            supplier
                            and the distributors chosen by him in the profile of each commodity in the Sports-World
                            platform.<br>
                            (3) The value of the postal or transport costs not included in the price of the goods shall
                            be
                            determined by the Supplier in the Sports-World platform and shall be provided as information
                            to the
                            Users when selecting the goods for the conclusion of the purchase contract;<br>
                            (4) The terms of payment, delivery and performance of the contract are set out in these
                            General
                            Terms and Conditions and the information provided to the User through the mechanisms in the
                            Sports-World platform.<br>
                            (5) The information provided to the Users under this Article is up-to-date at the moment of
                            its
                            visualization on the Sports-World platform prior to the conclusion of the purchase contract.<br>
                            (6) Users agree that all information required by the Consumer Protection Act may be provided
                            via
                            the interface of the Sports-World platform or e-mail.<br>
                            15. (1) The User agrees that the suppliers in the Sports-World platform are entitled to
                            accept an
                            advance payment for the contracts concluded with the consumer for the purchase and sale of
                            goods
                            and their delivery.<br>
                            (2) The consumer chooses independently whether to pay suppliers in the Sports-World platform
                            the price
                            to deliver the goods before or at the time of delivery.<br>
                            (3) In the event that the value of the Order of the User is equal to or exceeds BGN 15,000,
                            payment shall be made only by transfer or payment to the Provider's payment account.<br>
                            16. (1) The consumer shall be entitled, without due compensation or forfeiture and without
                            giving any reason, to cancel the concluded contract within 14 days from the date of receipt
                            of
                            the goods by the suppliers selected through the Sports-World platform through the single
                            withdrawal
                            form of the contract available on the Sports-World Platform's website at
                            https://sports-world.onrender.com/ Information on the exercise of the right of withdrawal is
                            available at https://sports-world.onrender.com/<br>
                            (2) The right of withdrawal under point 1 shall not apply in the following cases:<br>
                            1. for delivery of goods made to the consumer or according to his individual
                            requirements;<br>
                            2. for the supply of goods which, by their nature, may deteriorate or have a short shelf
                            life;<br>
                            3. for the supply of sealed goods which have been printed after delivery and can not be
                            returned
                            for reasons of hygiene or health protection;<br>
                            4. for the supply of goods which, after having been delivered and by their nature mixed with
                            other goods from which they can not be separated;<br>
                            5. for the supply of sealed sound recordings or video recordings or sealed computer software
                            that have been printed after delivery;<br>
                            6. for the supply of newspapers, periodicals or magazines, with the exception of
                            subscription
                            contracts for the supply of such publications;<br>
                            (3) Where the Provider in the Sports-World Platform has failed to fulfill its obligations to
                            provide
                            information specified in the Consumer Protection Act, the User has the right to withdraw
                            from
                            the contract within one year and 14 days from the date of receipt goods. When the
                            information is
                            provided to the consumer within the withdrawal period, it begins to run from the date of its
                            submission. The user has the right to make the cancellation notice under this Article
                            directly
                            to the Provider through the single withdrawal form available on the Provider's website in
                            the
                            Sports-World platform at https://sports-world.onrender.com/bg/consumerinfo<br>
                            (4) Where the consumer has exercised his right of withdrawal from the distance or
                            off-premises
                            contract, the Supplier shall reimburse all sums received by the consumer, including the cost
                            of
                            delivery, without undue delay and no later than 14 days from the date on which he was
                            informed
                            of the consumer's decision to withdraw from the contract. Supplier shall recover the sums
                            received using the same payment method used by the user in the original transaction unless
                            the
                            consumer has expressly agreed to use another means of payment and provided that this is not
                            cost-related to the consumer.<br>
                            (5) In the exercise of the right of withdrawal, the cost of returning the delivered goods
                            shall
                            be borne by the consumer and the cost of returning the goods shall be withheld from the
                            amount
                            paid by the consumer under the contract. The supplier has no obligation to reimburse the
                            additional cost of delivery of the goods when the consumer has explicitly chosen a way of
                            delivering the goods other than the cheapest type of standard delivery offered by the
                            Supplier.
                            The cost of returning the goods is the same as those for delivery in accordance with the
                            tariff
                            of the company used to make the delivery.<br>
                            (6) The User undertakes to store the goods received by the Supplier in the platform and to
                            ensure the preservation of their quality and safety during the term under para. 1. Goods
                            shall
                            be stored as specified by the manufacturer.<br>
                            (7) The User may exercise its right of withdrawal with the Supplier by making a written
                            statement to the Supplier through the standard withdrawal form available at
                            https://sports-world.onrender.com/bg/consumerinfo on the Sports-World platform.<br>
                            (8) When the Sports-World Platform Provider has not offered to take the goods alone, he may
                            retain the
                            payment of the consumer's sums until he receives the goods or until the consumer provides
                            proof
                            that he has sent the goods back, whichever is the has happened earlier.<br>
                            (9) "The User shall have the right to refer any disputes with the Supplier regarding the
                            performance of this Agreement to the ADR Out-of-court Dispute Resolution Platform available
                            at
                            https://webgate.ec.europa.eu/odr/main /?event=main.home.show. In the event of non-agreement
                            on
                            extrajudicial litigation, the parties may refer the dispute to the competent Bulgarian
                            courts
                            and the Commission for Consumer Protection."<br>
                            17. (1) The term of delivery of the goods is determined for each product individually upon
                            conclusion of the contract with the consumer through the site of the supplier in the
                            platform
                            Sports-World.<br>
                            (2) If the User and the Provider on the Sports-World platform have not set a delivery time,
                            the
                            delivery period of the goods shall be 30 days from the date following the sending of the
                            order
                            to the Supplier via the Sports-World supplier's website.<br>
                            (3) If the Sports-World supplier is unable to fulfill the contract because he does not have
                            the
                            ordered goods, he is obliged to notify the consumer and recover the sums paid by him.
                            Art. 18. The supplier of the Sports-World platform is obliged to comply with all the
                            requirements
                            established in the Bulgarian legislation on the labeling, advertising and sale of food
                            supplements.
                        </p>

                        <h5><b>VIII. IMPLEMENTATION OF THE CONTRACT</b></h5>

                        <p>19. (1) The supplier of the Sports-World platform may organize the delivery and delivery of
                            the goods
                            to the User by a respective supplier within the term set at the conclusion of the
                            contract.<br>
                            (2) If the term under point 1 is not expressly agreed between the parties upon signing the
                            contract, the Sports-World supplier shall arrange the delivery and delivery of the goods by
                            the
                            respective supplier or distributor within a reasonable time but not later than 2 months.<br>
                            (3) Authorized suppliers of the Sports-World platform:<br>

                            -Sports-World Ltd.<br>

                            20. (1) The user shall review the goods at the time of delivery and delivery and, if they do
                            not
                            meet the requirements, shall immediately notify the Supplier of the Sports-World
                            platform.<br>
                            (2) If the User does not notify the Provider on the Sports-World platform in accordance with
                            para. 1
                            the product is deemed to have been approved as complying with the requirements, except for
                            hidden defects.<br>
                            (3) The following cases shall not constitute deficiencies:<br>
                            - particular taste of the food additive and / or food for athletes;<br>
                            - insufficient breakdown of the food additive and / or food for athletes when used;<br>
                            - particular color of the food additive and / or food for athletes;<br>
                            - non-compliance with the taste characteristics of the food additive and / or food for
                            athletes
                            with other food supplements and / or food for athletes or with the same nutritional
                            supplement
                            and / or food for athletes;<br>
                            - the presence of mechanisms for automatically or easily removing the protective membrane of
                            the
                            food additive and / or food for athletes on opening;<br>
                            - the remaining shelf life of the food additive and / or food for athletes, which, according
                            to
                            the circumstances, may be sufficient to consume the entire nutritional supplement and / or
                            food
                            for athletes.<br>
                            21. The supplier of the Sports-World platform is not obliged to provide the necessary
                            service for the
                            goods.<br>
                            22. For the cases not covered in this section, the commercial sale rules set out in the
                            Commerce
                            Act shall apply.<br>
                        </p>

                        <h5><b>IX. PROTECTION OF PERSONAL DATA</b></h5>

                        <p>23. (1) The Sports-World provider shall take measures to protect the personal data of the
                            User in
                            accordance with the Personal Data Protection Act.<br>
                            (2) For security reasons of the User's personal data, the Sports-World Platform Provider
                            will only
                            send the data to an e-mail address that was designated by the Users at the time of
                            registration.<br>
                            (3) The Sports-World Platform Provider is entitled to store data in the End User
                            Communication Device
                            unless the latter explicitly disagrees.<br>
                            (4) The User or the User agrees that the Sports-World Provider is entitled to send
                            electronic
                            communications to the User or the User at any time, including a newsletter or offers for the
                            purchase of goods, while the User or the User is registered in the e-shop of Sports-World
                            platform
                            provider.<br>
                            (5) The User or the User agrees that the Sports-World Platform Provider is entitled to
                            collect, store
                            and process data to the User or User's behavior when using the Sports-World Online
                            Supplier's Shop.<br>
                            24. (1) At any time, the Provider in the Sports-World Platform shall be entitled to require
                            the User
                            to identify and certify the authenticity of any of the circumstances and personal data
                            announced
                            during the registration.<br>
                            (2) In the event that, for any reason, the User has forgotten or lost his name and password,
                            the
                            Sports-World Platform Service Provider may apply the "Lost or Forgotten Names and Passwords
                            Procedure"
                            available at http://Sports-World.onrender.com/bg/lostpassword
                        </p>

                        <h5><b>X. ACCESS TO GENERAL CONDITIONS</b></h5>

                        <p>25. (1) These General Terms and Conditions may be amended by the Supplier in the Sports-World
                            Platform, for which the latter will appropriately notify all registered Users.<br>
                            (2) The Sports-World Platform Deliverer and the User agree that any addition and
                            modification of these
                            General Terms and Conditions will have effect on the User and the Deliverer in one of the
                            following cases:<br>
                            A) upon express notification by the Provider on the Sports-World platform and if the User
                            does not
                            declare in the 14-day deadline that he rejects them; or<br>
                            B) after their publication on the Sports-World Platform's website and if the User does not
                            declare
                            them within 14 days of their publication.<br>
                            C) with its explicit acceptance by the User through its profile on the Sports-World's
                            Supplier's site.<br>
                            (3) The User agrees that all statements made by the Provider on the Sports-World Platform in
                            connection with the modification of these terms and conditions will be sent to the e-mail
                            address indicated by the User upon registration. The User agrees that emails sent pursuant
                            to
                            this Article need not be signed with an electronic signature in order to have an effect on
                            him.<br>
                            26. The Platform Provider Sports-World publishes these terms and conditions at
                            http://https://sports-world.onrender.com/bg/rules, together with any additions or amendments
                            thereto.
                        </p>

                        <h5><b>XI. TERMINATION</b></h5>

                        <p>27. These General Terms and the User Agreement with the Supplier in the Sports-World Platform
                            are
                            terminated in the following cases:<br>
                            • upon winding-up and winding-up or bankruptcy of one of the parties to the contract;<br>
                            • by mutual agreement of the parties in writing;<br>
                            • in the case of an objective impossibility of one of the parties to the contract to fulfill
                            its
                            obligations;<br>
                            • in case of seizure or sealing of equipment by state authorities;<br>

                            https://https://sports-world.onrender.com/
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                {% csrf_token %}
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>